.app {
  text-align:center;
}

@media all and (max-width: 900px)
{
  .navs {
    font-family: sans-serif;
    text-align: left;
    margin: 0 auto;
    padding: 0 13px;
    background: #FFF;
    height:70px;
    line-height: 70px;
  }
  .content {
    font-family: sans-serif;
    text-align: left;
    margin: 0 auto;
    padding: 0 13px;
  }
  .content p {
    font-size:16px;
    margin-top: 10px;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei UI,Microsoft YaHei,Arial,sans-serif;
    word-wrap: break-word!important;
    text-align: justify;
  }
}

@media all and (min-width: 901px) and (max-width: 2000px)
{
  .navs {
    font-family: sans-serif;
    text-align: left;
    margin: 0 auto;
    width: 700px;
    height:70px;
    line-height: 70px;
    position: sticky;
    top: 0;
    display: flex;
    background: #FFF;
  }
  .content {
    font-family: sans-serif;
    width: 700px;
    text-align: left;
    margin: 0 auto;
  }
  .content p {
    font-size:15px;
    margin-top: 10px;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei UI,Microsoft YaHei,Arial,sans-serif;
    word-wrap: break-word!important;
    text-align: justify;
  }
}

@media all and (min-width: 2001px) {
  .navs {
    font-family: sans-serif;
    text-align: left;
    margin: 0 auto;
    width: 1000px;
    height:70px;
    line-height: 70px;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    background: #FFF;
  }
  .content {
    font-family: sans-serif;
    width: 1000px;
    text-align: left;
    margin: 0 auto;
  }
  .content p {
    font-size:15px;
    margin-top: 10px;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei UI,Microsoft YaHei,Arial,sans-serif;
    word-wrap: break-word!important;
    text-align: justify;
  }
}


