.app {
  text-align:center;
}

@media all and (max-width: 900px)
{
  .content {
    font-family: sans-serif;
    text-align: left;
    margin: 0 auto;
    padding: 0 13px;
  }
  .content p {
    font-size:16px;
    margin-top: 32px;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei UI,Microsoft YaHei,Arial,sans-serif;
    word-wrap: break-word!important;
    text-align: justify;
  }
}

@media all and (min-width: 901px) and (max-width: 2000px)
{
  .content {
    font-family: sans-serif;
    width: 700px;
    text-align: left;
    margin: 0 auto;
  }
  .content p {
    font-size:15px;
    margin-top: 32px;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei UI,Microsoft YaHei,Arial,sans-serif;
    word-wrap: break-word!important;
    text-align: justify;
  }
}

@media all and (min-width: 2001px) {
  .content {
    font-family: sans-serif;
    width: 1000px;
    text-align: left;
    margin: 0 auto;
  }
  .content p {
    font-size:15px;
    margin-top: 32px;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei UI,Microsoft YaHei,Arial,sans-serif;
    word-wrap: break-word!important;
    text-align: justify;
  }
}


.head {
  margin:15px 0 10px 0;
  height:auto;
}
.link {
  color:#1f69c0;
}
.box {
  display: inline-block;
  height:30px;
}
.sign {
  color: #888;
  font-size: 14px;
}
