.app {
  text-align:center;
}

@media all and (max-width: 900px)
{
  .content {
    font-family: sans-serif;
    text-align: left;
    margin: 0 auto;
    padding: 0 13px;
  }
  .content p {
    font-size:15px;
    margin-top: 32px;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei UI,Microsoft YaHei,Arial,sans-serif;
    word-wrap: break-word!important;
    text-align: justify;
  }
}

@media all and (min-width: 901px) and (max-width: 2000px)
{
  .content {
    font-family: sans-serif;
    width: 700px;
    text-align: left;
    margin: 0 auto;
  }
  .content p {
    font-size:15px;
    margin-top: 32px;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei UI,Microsoft YaHei,Arial,sans-serif;
    word-wrap: break-word!important;
    text-align: justify;
  }
}

@media all and (min-width: 2001px) {
  .content {
    font-family: sans-serif;
    width: 1000px;
    text-align: left;
    margin: 0 auto;
  }
  .content p {
    font-size:15px;
    margin-top: 32px;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei UI,Microsoft YaHei,Arial,sans-serif;
    word-wrap: break-word!important;
    text-align: justify;
  }
}


.home-content h3{
  color: #333;
  margin-top:0px;
  margin-bottom: -15px;
}
.home-content p {
  font-size: 15px;
}


.head {
  margin:30px 0 10px 0;
  height:auto;
}
.link {
  color:#1f69c0;
}
.box {
  display: inline-block;
  height:35px;
}
.sign {
  color: #000;
  font-size: 14px;
}
.name {
  font-size: 20px;
}
.semi-list-item {
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  padding: 12px 0;
  margin: 0;
  list-style: none;
}

.item p {
  margin-top:7px;
  margin-bottom: 12px;
  font-size: 14px;
}
.item h4 {
  margin-bottom: 8px;
  margin-top: 30px;
}
.item h4 a {
  color: #333;
  text-underline: none;
  text-decoration: none;
}
.item span{
  font-size: 14px;
}
.preview {
  margin-top:20px;
}


.inter span{
  font-size:13px;
}
