.content ul {
  display: block;
  padding: 2px 0 0 17px;
}
.content li {
  margin-right:0;
  margin-top:10px;
}
.content li p {
  font-size:15px;
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei UI,Microsoft YaHei,Arial,sans-serif;
  word-wrap: break-word!important;
  text-align: justify;
}

.author {
  color:  #576b95;
}
.tag {
  color: #999;
}
.pad {
  padding: 0 10px 0;
}
.left {
  text-align: left;
}

.toastui-editor-contents p {
  margin: 25px 0;
  color: #222;
}
.toastui-editor-content p {
  font-size: 15px;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', '나눔바른고딕', 'Nanum Barun Gothic', '맑은고딕', 'Malgun Gothic', sans-serif;
  z-index: 20;
  margin-top: 30px;
}




