.app {
  text-align:center;
}

@media all and (max-width: 900px)
{
  .content {
    font-family: sans-serif;
    text-align: left;
    margin: 0 auto;
    padding: 0 10px;
  }
}
@media all and (min-width: 901px) and (max-width: 1300px)
{
  .content {
    font-family: sans-serif;
    width: 600px;
    text-align: left;
    margin: 0 auto;
    padding: 0 20px;
  }
}

@media all and (min-width: 1301px) {
  .content {
    font-family: sans-serif;
    width: 1000px;
    text-align: left;
    margin: 0 auto;
    padding: 0 20px;
  }
}


.content ul {
  display: block;

  padding: 10px 0 0 17px;
}
.content p {
  font-size:15px;
  margin-top: 25px;
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei UI,Microsoft YaHei,Arial,sans-serif;
}

.author {
  color:darkblue;
}

.tag {
  color: #999;
}



.pad {
  padding: 0 10px 0;
}

.left {
  text-align: left;
}

.toastui-editor-contents p {
  margin: 20px 0;
  color: #222;
}

.toastui-editor-contents p {
  font-size: 15px;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', '나눔바른고딕', 'Nanum Barun Gothic', '맑은고딕', 'Malgun Gothic', sans-serif;
  z-index: 20;
}



